@page
@model RetoTernium.Pages.HomeModel
@{
    <h1>@ViewData["Home"]</h1>
}


<div>
    <p>@Model.username</p>
    <br />
    <p>@Model.password</p>
    <br />
    <p>@Model.streak</p>
    <br />
    <p>@Model.scores</p>
    <br />
    <p>@Model.createdAt</p>
    <br />
    <p>@Model.updatedAt</p>
</div>


